

// Icons for the treepanel layers

@mixin synfig-layer-icon($css-token, $file-token) {
  &#{$css-token}-icon {
    background-size: contain ;
    background-image: url('../../resources/images/layer_#{$file-token}_icon.png') ;
  }
}

.synfig-{

  @include synfig-layer-icon('canvas',           'canvas') ;
  @include synfig-layer-icon('advanced_outline', 'geometry_advanced_outline') ;
  @include synfig-layer-icon('circle',           'geometry_circle') ;
  @include synfig-layer-icon('outline',          'geometry_outline') ;
  @include synfig-layer-icon('polygon',          'geometry_polygon') ;
  @include synfig-layer-icon('rectangle',        'geometry_rectangle') ;
  @include synfig-layer-icon('region',           'geometry_region') ;
  @include synfig-layer-icon('star',             'geometry_star') ;
  @include synfig-layer-icon('import',           'import') ;
  @include synfig-layer-icon('group',            'other_group') ;
  @include synfig-layer-icon('skeleton',         'other_skeleton') ;
  @include synfig-layer-icon('switch',           'other_switch') ;
  @include synfig-layer-icon('text',             'other_text') ;
  @include synfig-layer-icon('rotate',           'transform_rotate') ;
  @include synfig-layer-icon('scale',            'transform_scale') ;
  @include synfig-layer-icon('translate',        'transform_translate') ;
  @include synfig-layer-icon('zoom',             'transform_zoom') ;

}

