.en {
  background-image:url('../../resources/images/flags/en.png') !important;
}

.es {
  background-image:url('../../resources/images/flags/es.png') !important;
}

.eo {
  background-image:url('../../resources/images/flags/eo.png') !important;
}

.gl {
  background-image:url('../../resources/images/flags/gl.png') !important;
}