/*
 * This is is imported by virtue of "sass.etc" in "app.json".
 */
.ux-wallpaper {
  background-color: $wallpaper-background-color ;
}

.ux-start-button-icon {
  background-image:  url('../../resources/images/tools24x24.png') ;
  background-size: contain ;
}