
div.ux-taskbar div.x-toolbar {
  background: transparent none;
  border: 0 none;
  padding: 0
}

.ux-desktop-shortcut {
  cursor: pointer;
  text-align: center;
  padding: 8px;
  margin: 8px;
  width: 64px
}

.ux-desktop-shortcut-icon {
  width: 48px;
  height: 48px;
  background-color: transparent;
  background-repeat: no-repeat
}

.ux-desktop-shortcut-text {
  font: normal 10px tahoma, arial, verdana, sans-serif;
  text-decoration: none;
  padding-top: 5px;
  color: white
}

.x-view-over .ux-desktop-shortcut-text {
  text-decoration: underline
}

.window-body-padding {
  padding: 5px ;
}